.social-login
    button.social-login--github
        span
            i.fab.fa-github
        | Continue with Github
    button
        span.social-login--facebook
            i.fab.fa-facebook
        | Continue with Facebook        