extends layouts/main.pug

block content
    .form-container
        form(action=`/videos${routes.upload}`, method="post")
            label(for="file") Video File
            input(type="file", name="file", id="fild")
            input(type="text", name="ittle", placeholder="title")
            textarea(name="description", placeholder="Description")
            input(type="submit", value="upload Video")