extends layouts/main.pug

block content
    .form-container
        form(action=`/videos${routes.upload}`, method="post",enctype="multipart/form-data")
            label(for="file") Video File
            input(type="file", name="videoFile", id="file", required=true, accept="video/*")
            input(type="text", name="ittle", placeholder="title", required = true)
            textarea(name="description", placeholder="Description", required = true)
            input(type="submit", value="upload Video")